{% extends 'base.html' %}

{% block header %}
    <h1>お気に入りの映画検索</h1>
{% endblock header %}

{% block content %}
    <div class="content">
        <p>最新の映画ニュースや人気の映画をチェックして、お気に入りの作品を見つけましょう！</p>
        <h2>最新の映画ニュース</h2>
        <a href="{% url 'movie:movie_search' %}" class="btn btn-primary mb-3">映画を検索する</a>
        <ul class="list-group mb-3">
            <li class="list-group-item">ニュース1のタイトル</li>
            <li class="list-group-item">ニュース2のタイトル</li>
            <li class="list-group-item">ニュース3のタイトル</li>
        </ul>
        <h2>人気の映画</h2>
        <ul class="list-group">
            <li class="list-group-item">映画1のタイトル</li>
            <li class="list-group-item">映画2のタイトル</li>
            <li class="list-group-item">映画3のタイトル</li>
        </ul>
    </div>
{% endblock content %}
