{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="">
        <div class="content">
            <p>最新の映画ニュースや人気の映画をチェックして、お気に入りの作品を見つけましょう！</p>
            <h2>最新の映画ニュース</h2>
            <a href={% url "movie:movie_search" %}><button class="login-btn">映画を検索する</button></a>
            <ul>
                <li>ニュース1のタイトル</li>
                <li>ニュース2のタイトル</li>
                <li>ニュース3のタイトル</li>
            </ul>
            <h2>人気の映画</h2>
            <ul>
                <li>映画1のタイトル</li>
                <li>映画2のタイトル</li>
                <li>映画3のタイトル</li>
            </ul>
        </div>
    </div>
{% endblock %}
