{% extends 'base.html' %}
{% block content %}

  <style>
    /* 追加のスタイルはここに記述 */
    body {
      background-color: #f8f9fa;
    }
    .container {
      margin-top: 50px;
    }
    .jumbotron {
      background-color: #343a40;
      color: #fff;
    }
    #search-input {
      width: 100%;
      padding: 10px;
      font-size: 16px;
    }
  </style>

<main>
  <div class="container">
    <div class="jumbotron">
      <h1 class="display-4">映画を検索する</h1>
      <p class="lead">好きな映画を検索してみましょう。</p>
      <hr class="my-4">
    
      <form id = "search-form" method = "post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary btn-lg">検索</button>
      </form>
    </div>
  </div>
</main>

{% endblock %}
