{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'movie_detail.css' %}">
<main>
<div class="book-container">
    <div class="book">
        <img src="{{ imagepath }}" alt="本の画像">
        <div class="book-info">
            <p>{{ movie_name}}</p>
            <p>{{ overview }}</p>
        </div>
        <div class="button-container">
            {% if mylist == "f" %}
            <form action="{% url 'movie:add_mylist' movie_name %}" method="post">
                <button type="submit" name="button">お気に入り追加</button>
                {% csrf_token %}
            </form>
            {% else %}
            <p class="already-added">すでにマイリストに追加済み</p>
            {% endif %}
        </div>
    </div>
</div></main>
{% endblock %}
