{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'ranking.css' %}">
<h1>映画ランキングTOP10</h1>

{% for mv in movies %}
  <h2>{{ forloop.counter }}位</h2>
  <a href={% url "movie:movie_detail" mv.name %}><img src="{{ mv.imagepath }}" alt="映画の画像" width="100px"></a>
  <a href={% url "movie:movie_detail" mv.name %}>{{ mv.name }}</a>
  {{ mv.movie_count }}
  {{ mv.overview }}
{% endfor %}
{% endblock %}

<!--
<h1>映画ランキングTOP10</h1>
  <table>
    <thead>
      <tr>
        <th>ランキング</th>
        <th>タイトル</th>
        <th>登録数</th>
        <th>説明</th>
      </tr>
    </thead>
    <tbody>
      {% for mv in movies %}
  
        <tr>
        <th>{{ forloop.counter }}位</th>
        <td><a href={% url "movie:movie_detail" mv.name  %}><img src="{{ mv.imagepath }}" alt="映画の画像" width="100px"></a></td>
        <td><a href={% url "movie:movie_detail" mv.name %}>{{ mv.name }}</a></td>
        <td>{{ mv.movie_count }}</td>登録者数
        <td class="overview">{{ mv.overview }}</td>詳細説明
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}-->