<!-- movie_ranking.html -->

{% extends "base.html" %}
{% load static %}
{% block content %}

<style>
    th {
        width: 100px;
    }
    .overview{
        width: 600px;
    }
</style>
  <h1>映画ランキングTOP10</h1>
  <table>
    <thead>
      <tr>
        <th>ランキング</th>
        <th></th>
        <th>タイトル</th>
        <th>登録数</th>
        <th>説明</th>
        <!-- <th>Release Date</th> -->
      </tr>
    </thead>
    <tbody>
      <!-- <p>{{ movies }}</p> -->
      {% for mv in movies %}
  
        <tr>
        <th>{{ forloop.counter }}位</th>
        <td><a href={% url 'movie:movie_detail' mv.name %}><img src="{{ mv.imagepath }}" alt="映画の画像" width="100px"></a></td>
        <td><a href={% url "movie:movie_detail" mv.name %}>{{ mv.name }}</a></td>
        <td>{{ mv.movie_count }}</td>
        <td class="overview">{{ mv.overview }}</td>
        <!-- <td>{{ movie.release_date }}</td> -->
        </tr>
    
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
