{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'ranking.css' %}">
<main>
  <h1>映画ランキング<span class="top10"> TOP10</span></h1>
  <ul class="movie">
      {% for mv in movies %}
      <div class="movie-list">
        <h2><span class="rank">{{ forloop.counter }}</span>位</h2>
        <li class="movie-info">
            <a class = "movie-link" href={% url "movie:movie_detail" mv.name %}>
                <img src="{{ mv.imagepath }}" alt="本の画像">
                <div class="movie-name">
                    <p>{{ mv.name }}</p>
                </div>
            </a>
            <p class = "overview">{{ mv.overview }}</p>
            <p class = "like"><span class="count">{{ mv.movie_count }}</span> 人がお気に入り中！</p>
        </li>
      </div>
      {% endfor %}
  </ul>
</main>
{% endblock %}
