{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'comment.css' %}">

    <div class="comment">
      <h1>Comments</h1>
      <form method="post">
        {% csrf_token %}
        {{ comment_form.as_p }}
        <button class="head" type="submit">Post Comment</button>
      </form>
    </div>

    <!-- Movie Filtering Form -->
    <div class="filter">
      <h2>Filter</h2>
      <form method="get">
        {{ filter_form.as_p }}
        <button class="head" type="submit">Filter</button>
      </form>
    </div>
    <div class="title">
      <h1>< コメント一覧 ></h1>
    </div>
      {% for comment in comments %}
        <li class="comment-list-content">
            <img src="{{ comment.imagepath }}" alt="">
          <h2><a href="{% url 'movie:movie_detail' comment.movie_name %}">{{ comment.movie_name }}</a></h2>
          <p>ユーザー名：{{ comment.user }}  / 日時：{{ comment.date }}  / 評価：{{ comment.get_rating_display }}</p>
          <p>{{ comment.comment }}</p>
          <button class="like-btn" data-id="{{ comment.id }}">Like</button>
          <p><span class="like-cnt" id="likes-{{ comment.id }}">{{ comment.likes }}</span> likes</p>
          <div class="error-message" id="error-{{ comment.id }}" style="color: red;"></div>
        </li>
      {% endfor %}


  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    $(document).ready(function(){
      $('.like-btn').click(function(){
        var commentId = $(this).data('id');
        var url = "{% url 'comment:like_comment' comment_id=0 %}".replace('0', commentId);
        console.log(url);  // 生成されたURLをコンソールに出力して確認する
        $.ajax({
          url: url,
          method: 'POST',
          data: {
            'csrfmiddlewaretoken': '{{ csrf_token }}'
          },
          success: function(response) {
            $('#likes-' + commentId).text(response.likes);
          },
          error: function(xhr, status, error) {
            $('#error-' + commentId).text(JSON.parse(xhr.responseText).error);
          }
        });
      });
    });
  </script>
{% endblock %}
