{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'comment.css' %}">

    <div class="comment">
      <h1>Comments</h1>
      <form method="post">
        {% csrf_token %}
        {{ comment_form.as_p }}
        <button class="head" type="submit">送信</button>
      </form>
      <hr>
    </div>

    <div class="filter">
      <h2>Filter</h2>
      <form method="get">
        {{ filter_form.as_p }}
        <button class="head" type="submit">絞り込み検索</button>
      </form>
      <hr>
    </div>
    <main>
      <div class="list">
        <h1>ーコメント覧ー</h1>
      </div>
        <ul class="comment-list">
        {% for comment in comments %}
        <li class="comment-list-content">
          <div class="img">
            <img src="{{ comment.imagepath }}" alt="">
          </div>
          <div class="comment-info">
            <h3><a href="{% url 'movie:movie_detail' comment.movie_name %}">{{ comment.movie_name }}</a></h3>
            <p>ユーザー名：{{ comment.user }}</p>
            <p>日時：{{ comment.date |date:"Md日"}}</p>
            <p>評価：{{ comment.get_rating_display }}</p>
            <p>{{ comment.comment }}</p>
            <button class="like-btn" data-id="{{ comment.id }}">Like</button>
            <p><span class="like-cnt" id="likes-{{ comment.id }}">{{ comment.likes }}</span> likes</p>
            <div class="error-message" id="error-{{ comment.id }}"></div>
          </div>
        </li>
        {% endfor %}
      </ul>
    </main>


  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    $(document).ready(function(){
      $('.like-btn').click(function(){
        var commentId = $(this).data('id');
        var url = "{% url 'comment:like_comment' comment_id=0 %}".replace('0', commentId);
        console.log(url);  // 生成されたURLをコンソールに出力して確認する
        $.ajax({
          url: url,
          method: 'POST',
          data: {
            'csrfmiddlewaretoken': '{{ csrf_token }}'
          },
          success: function(response) {
            $('#likes-' + commentId).text(response.likes);
          },
          error: function(xhr, status, error) {
            $('#error-' + commentId).text(JSON.parse(xhr.responseText).error);
          }
        });
      });
    });
  </script>
{% endblock %}


<!--
<section class="get-in-touch">
   <h1 class="title">Get in touch</h1>
   <form class="contact-form row">
      <div class="form-field col x-50">
         <input id="name" class="input-text js-input" type="text" required>
         <label class="label" for="name">Name</label>
      </div>
      <div class="form-field col x-50">
         <input id="email" class="input-text js-input" type="email" required>
         <label class="label" for="email">E-mail</label>
      </div>
      <div class="form-field col x-100">
         <input id="message" class="input-text js-input" type="text" required>
         <label class="label" for="message">Message</label>
      </div>
      <div class="form-field col x-100 align-center">
         <input class="submit-btn" type="submit" value="Submit">
      </div>
   </form>
</section>
<p class="note">Based on <a class="link" href="http://redcollar.digital/contacts/" target="blank">Red Collar Contact Form</a>.</p>
-->
