{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'mylist.css' %}">
    <main>
        {% for data in MyMovieModel_data %}
        <div class="book">
            <a href={% url "movie:movie_detail" data.name %}>
                <img src="{{ data.imagepath }}" alt="映画の画像">
                <p>{{ data.name }}</p>
                <p>{{ data.pk }}</p>
            </a>
        </div>
     
            <button type="submit"><a href = "{% url 'mypage:delete' data.pk %}">削除</a></button>
       

        {% endfor %}

    </main>
    {% endblock %}
