{% extends 'base.html' %}
{% block content %}
  <main>

<div class="start-container">
 
        <h1>あなたにおすすめの映画を調べる</h1>
    
        <section class="start-screen">
            <form action=' {% url "consider:start"%}'>
            <h2>簡単な7つの質問に答えてあなたにおすすめの映画を調べる</h2>
            <button id="start-button">スタート</button></form>
        </section>
   
</div> </main>
<style>
/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background: #50a3a2; /* Fallback for older browsers */
    background: -webkit-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
    background: -moz-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
    background: -o-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
    background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);
}

main {
    margin:20px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.start-container {
    text-align: center;
    opacity: 0;
    animation: fade-in 2s ease forwards;
    animation-delay: 0.5s;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.start-screen {
    background-color: rgba(255, 255, 255, 0.9); /* 半透明の白色背景 */
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    max-width: 700px;
    margin: 0 auto;
}

.start-screen h2 {
    margin-bottom: 20px;
    color: #333; /* テキストの色 */
}

.start-screen button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 12px 24px;
    font-size: 0.9rem;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.start-screen button:hover {
    background-color: #45a049;
}
</style>


{% endblock %}