body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}
.header {
    background-color: #0a0a0a;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.taitlelogo img {
    max-width: 100px;
    height: 71px;
    padding-left: 10px;
}
.menu-list {
    flex-grow: 1;
    text-align: right;
}
.menu-list ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.menu-list ul li {
    display: inline-block;
    margin-left: 20px;
}
.menu-list ul li:first-child {
    margin-left: 0;
}
.menu-list ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.menu-list ul li a:hover {
    text-decoration: underline;
}

.login-button {
    background-color:#ffff00; /* ボタンの背景色 */
    border: none;
    color: black; /* ボタンのテキスト色 */
    padding: 10px 20px; /* ボタンのパディング */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px; /* ボタンの角丸 */
    transition-duration: 0.4s;
}

/* ボタンのホバースタイル */
.login-button:hover {
    background-color: #e6e6e6; /* ホバー時の背景色 */
}