main {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    padding: 35px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

select, input {
    width: 70%;
}

article {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.comment {
    border: solid 3px #00ffd5;
    border-radius: 10px;
    margin: 20px;
    width: 45%;
    float: left;
}

.comment form {
    margin: 20px;
}

.filter {
    border: solid 3px #00ffd5;
    border-radius: 10px;
    margin: 20px;
    width: 45%;
    float: left;
}

.filter form {
    margin: 20px;
}

.all-comments {
    border: solid 3px #00ffd5;
    border-radius: 10px;
    margin: 20px;
    float: left;
    width: 95%;
}

.comment h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.filter h2 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 20px;
}

.all-comments h2 {
    color: black;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 10px;
    padding: 10px;
    margin: 20px;
}

label {
    color: black;
    font-size: 20px;
}

.comment button, .filter button {
    background-color: black;
    border: none;
    color: whitesmoke;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px;
    cursor: pointer;
    border-radius: 4px;
    transition-duration: 0.4s;
    position: relative;
}


.comment button:hover {
    background-color: #00ffd5;
}

.filter button:hover {
    background-color: #00ffd5;
}

select {
    background-color: #ffffff;
}

ul {
    list-style: none;
    padding: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

ul .comment-list-content {
    background: linear-gradient(90deg, rgb(1, 1, 1) 0%, #00ffd5 100%);
    border: 3px white solid;
    border-radius: 10px;
    height: 250px;
    width: 45%;
    position: relative;
    float: left;
    transition-duration: 0.4s;
    padding: 10px;
    margin: 10px;
}

/* .comment-list-content::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 25px;
    width: 9px;
    height: 9px;
    margin: auto;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(45deg);
    transition: .2s;
    box-sizing: border-box;
} */

.comment-list-content {
    overflow: hidden;
}

.comment-list-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(130deg, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 80%);
    transition: 1.0s;
}

.comment-list-content:hover::before {
    top: 0;
    left: 100%;
}



.comment-list-content img {
    display: block;
    width: 170px !important;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
}

.comment-list-content a {
    color: #ffffff;
    height:  80px;             /* 高さ指定 */
    width:  50%;              /* 幅指定 */
    padding:  20px;    /* 背景色指定 */
    display:  inline-block;     /* インラインブロックにする */
    vertical-align:  bottom;    /* 下揃えにする */
    box-sizing: border-box; 
    border-radius: 10px;
    text-decoration: none;
}

.comment-list-content p {
    margin: 10px;
    color: #ffffff;
    width:  50%;
}

.comment-list-content button {
    background-color: #00ffd5;
    border: none;
    color: whitesmoke;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px;
    cursor: pointer;
    border-radius: 4px;
    transition-duration: 0.4s;
    position: absolute;
    left: 20px;
    padding: 7px 14px;
}

.comment-list-content button:hover {
    color: black;
    background-color: #ffffff;
}

.comment-list-content .like-cnt {
    font-size: x-large;
    color: #ffffff;
    position: absolute;
    left: 100px;
    bottom: 8px;
}

.comment-list-content .like-word {
    color: #ffffff;
    position: absolute;
    left: 120px;
    bottom: 8px;
}

/* Responsive design */
@media only screen and (max-width: 520px) {
    .comment-list-content {
        width: 100% !important; /* Full width on smaller screens */
        margin: 2px !important; /* Centering and equal margin on left and right */
        padding: 0 !important;
    }

    .comment-list-content img {
        width: 130px !important;
        height: auto;
    }
    
    .comment, .filter {
        width: 90%;
    }
}