ul {
    text-align: center;
}

main {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    min-height: 100vh;
    
}

main {
    padding: 35px;
}

h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.book-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.book {
    width: 220px;
    margin: 20px 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.book a {
    text-decoration: none;
    color: #333;
    display: block;
}

.book img {
    width: 100%;
    height: auto;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    
}

.book-info {
    padding: 10px;
    text-align: center;
}

.book p {
    font-size: 15px;
    margin-top: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.btn {
    margin-bottom: 30px;
    width: 60%;
    height: 8%;
    background-color: #65d869;
    font-weight: bold;
    border-radius: 10px;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    position: relative; 
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s; 
    box-shadow: 0 5px 15px rgba(76, 175, 80, 0.3);
}

  /* ボタンのホバースタイル */
  .btn:hover {
    transform: scale(1.05); 
  }
  
  /* ボタンのアクティブスタイル */
  .btn:active {
    transform: scale(0.95);
  }