.user {
    width: 350px;
    margin: 0 auto;
    margin-top: 100px;
    padding: 0px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    text-align: center;
}

  .user input[type="text"] {
    margin-top: 30px;
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
  }

  .user button[type="submit"] {
    width: 85%;
    padding: 10px;
    margin-bottom: 30px;
    background-color: #4CAF50;
    font-weight: bold;
    border-radius: 30px;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    position: relative; 
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s; 
    box-shadow: 0 5px 15px rgba(76, 175, 80, 0.3);
  }
  
  /* ボタンのホバースタイル */
  .user button[type="submit"]:hover {
    transform: scale(1.05); 
  }
  
  /* ボタンのアクティブスタイル */
  .user button[type="submit"]:active {
    transform: scale(0.95);
  }
  

  .user p {
    text-align: center;
    margin-top: 0;
    font-size: 20px;
    color: #333;
  }

  .but {
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    margin-bottom: 50px;

  }

  
  