{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <link rel="icon" href="{% static 'img_folder/logo.ico' %}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header class="header">
        <div class="taitlelogo">
            <a href='{% url "toppage:toppage" %}'><img src="{% static 'img_folder/logo.jpg' %}" alt="トップページへ"></a>
        </div>
        <div class="menu-list">
            <ul class="menu">
                <li><a href='{% url "accounts:custom_accounts_create" %}'>アカウント登録</a></li>
                <li><a href='{% url "movie:movie_search" %}'>映画検索</a></li>
                <li><a href='{% url "mypage:mylist" %}'>マイリスト</a></li>
                <li><a href='{% url "usersearch:user_search" %}'>アカウント一覧</a></li>
                {% if user.is_authenticated %}
                <li><span>{{ user.get_username }}</span></li>
                <li>
                    <form action='{% url "accounts:logout" %}' method='post' name='logout'>
                        {% csrf_token %}
                        <input type="submit" value="ログアウト" class="login-button">
                    </form>
                </li>
                {% else %}
                <li>
                <form action='{% url "accounts:login" %}' method='post' name='logout'>

                    {% csrf_token %}
                    <input type="submit" value="ログイン" class="login-button">
                </form></li>
                {% endif %}
            </ul>
        </div>
    </header>
    {% block content %}
    {% endblock %}
</body>
</html>