{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'userlist.css' %}">
<div class="user">
  <h2>ユーザー検索</h2>
  <form method="post">
    {% csrf_token %}
    <p>{{ form.as_p }}</p>
    <button type="submit">検索</button>
  </form>

  {% if users %}
    <h2>ー検索結果ー</h2>
      {% for user in users %}
        <div class="but"><a href="{% url 'usersearch:other_user_movie' user.id %}">{{ user.username }}</a></div>
      {% endfor %}
  {% endif %}
</div>
{% endblock %}
